
<div class="">
  <button type="button" name="button" (click)="openVideo()">Open</button>
  <button type="button" name="button">Close</button>
  <button type="button" name="button" (click)="openCanvas()">openCanvas</button>
  <div class="vid">
    <video #video autoplay style="max-width: 100%; background: #ccc;" width="640" height="480"></video>
  </div>
  <div class="">
      <canvas #myCanvas id="canvas" style="max-width: 100%; background: #ccc;" width="640" height="480"></canvas>
  </div>
</div>
<router-outlet></router-outlet>
