<!-- <div class="container-fluid mainContainer">
  <div class="mainContent justify-content-center">
        <button type="button" name="button" (click)="openVideo()">Open</button>
        <button type="button" name="button" (click)="stopVideo()">Close</button>
        <button type="button" name="button" (click)="resetCanvas()">Reset</button>
        <button type="button" name="button" (click)="openCanvas()">openCanvas</button>
        <div class="inputs">

        </div>
        <div class="vid">
          <video #video autoplay style="max-width: 100%; display:none;" width="320" height="240"></video>
        </div>
        <div class="">
            <canvas id="canvas0" style="max-width: 100%; position: absolute; z-index=0;" [style.background-color]="getFinalColor()" width="320" height="240"></canvas>
            <canvas #myCanvas id="canvas" style="max-width: 100%; position: absolute; z-index=1;" width="320" height="240"></canvas>
        </div>
  </div>
</div> -->

<div class="container">

    <div class="row firstContent ">
        <div class="">
          <video #video id="myVide" autoplay style="max-width: 100%; display:none;"></video>
          <canvas #backCanvas id="canvas0" style="max-width: 100%; position: absolute; z-index=0;" width="450" height="300" [style.background-color]="getFinalColor()"></canvas>
          <canvas #myCanvas id="canvas" style="max-width: 100%; position: absolute; z-index=1;" ></canvas>
        </div>
    </div>

    <div class="secondContent">
      <div class="colorPallette">
        <p>Pick Color Below:</p>
        <span class="dot" [style.background-color]="finalColor" (click)="colorPicker.click()"></span>
        <span><input #colorPicker style="display:none;" type="color" name="" (input)="onColorChange(colorPicker.value)"></span>
      </div>
      <mat-slider min="12" max="30" step="1" [value]="sliderValue" thumbLabel style="background-color: #E8E8E8;"></mat-slider>

      <div class="settings">
        <button mat-raised-button color="primary" type="button" name="button" (click)="openVideo()">Start</button>
        <button mat-raised-button type="button" name="button" (click)="stopVideo()">Stop</button>
        <button mat-raised-button type="button" name="button" (click)="resetCanvas()">Reset</button>
      </div>
    </div>

</div>

<router-outlet></router-outlet>
